[submodule "local/pkg"]
	path = local/pkg
	url = https://github.com/emaste/pkg
[submodule "sys/modules/drm-kmod"]
	path = sys/modules/drm-kmod
	url = https://github.com/emaste/drm-kmod
[submodule "usr.bin/got"]
	path = usr.bin/got
	url = https://github.com/emaste/got
	branch = port-0.41
